
<div id="box_shortcuts">
<a class="close-reveal-modal" ng-click="cancel()">&#215;</a>
  <div class="clear"></div>
  <p class="choose_keyboard">Phím tắt bàn phím trong quá trình làm bài</p>
  <ul id="guidance">
    <li><p class="row1">Chọn một hoặc nhiều câu trả lời</p></li>
    <!-- <li><p class="row2">Lựa chọn trong hộp thoại xổ xuống</p></li> -->
    <li><p class="row3">Nhập đáp án</p></li>
<!--     <li><p class="row4">Phát lại âm thanh</p></li>
    <li><p class="row5">Phát lại âm thanh chậm hơn</p></li> -->
  </ul>
</div>