.setting-page {
    @include grid-row();
    margin-top: 40px;
    .main-left {
	@include grid-column($columns: 12);
	.large-5, .large-6 {
	    text-align: right;
	}

	.save.button {
	    font-size: 1rem;
	}
    }

    .main-right {
	@include grid-column($columns: 4);
    }

    .container {
	float: left;
	background: $white;
	border-radius: 10px;
	width: 100%;
	padding: 20px;
    }

    .setting-side-nav {
	@include side-nav(
	    // Border color of divider
	    $divider-color: '#ccc',
	    // Font size of nav items
	    $font-size:1.2em,
	    // Color of navigation links
	    $link-color: $steel,
	    // Color of navigation links on hover
	    $link-color-hover: $primary-color
	);
    }

    .setting-notification {
	label {
	    width: 100%;
	    margin-top: 5px;
	    margin-bottom: 5px;
	}

	input[type=checkbox] {
	    display: none;

	    &:checked + label {
		span.box {
		    background: $white;
		    color: $primary-color;
		    padding: 1px 2px 2px 2px;
		}
	    }
	    &:checked + label:after {
		opacity: 1;
	    }
	}

	span.box {
	    background: $white;
	    border: 1px solid $steel;
	    color: $white;
	    display: inline-block;
	    margin-right: 20px;
	    width: 20px;
	    height: 20px;
	    top: 9px;
	    line-height: 1rem;
	}
    }
}
