.leaderboard {
  h3 {
    line-height: 60px;
    margin: 0;
  }
  .search-box {
    border-radius: $global-radius;
  }
  .tabbable, .facebook-friend-list, .friend-list {
    max-height: 320px;
    margin-bottom: 15px;
    overflow-x: visible;
    overflow-y: auto;
  }
  .tabs {
    border-bottom: 2px solid $primary-color;
    a {
      background-color: $white;
      padding: 1rem .3rem;
      font-size: .8rem;
    }
    dd {
        width: 33%;
      &.active, &:hover {
        background-color: $white;
        border-bottom: 2px solid $primary-color;
      }
      a:hover {
        background-color: $white;
      }
    }
  }
  .tabs-content {
    margin-top: 20px;
    margin-left: -15px;
    width: 250px;
    > .content {
      > div {
        width: 237px;
      }
      padding-top: 0;
    }
  }
  .content, .facebook-friend-list, .friend-list {
    .row {
      margin: 5px 0;
      > .columns.large-11 {
        padding-left: 0;
        padding-right: 0;
      }
    }
    .nickname, .exp {
      font-size: 14px;
      line-height: rem-calc(40);
    }
    .nickname {
      color: $primary-color;
      padding-right: 0;
      overflow: hidden;
      text-overflow: ellipsis;
    }
    .exp {
      text-align: right;
      padding-left: 0;
    }
    .avatar {
      padding: 0;
      height: 40px;
      width: 40px;
      img {
        border-radius: 50%;
        height: 40px;
        width: 40px;
      }
    }
  }
  .facebook-friend-list, .friend-list {
    overflow-y: auto;
    .friend {
      @include grid-row;
      padding: 5px 0;
      > .columns {
        padding: 0;
      }
      .buttons {
        padding: 0;
      }
      .memo-button {
        padding: 11px 10px;
        line-height: 1em;
        font-size: 14px;
      }
    }
  }
}
.tabbable{
  overflow-x:hidden !important;
}
.box-list-top {
    padding-left: 5px !important;
    padding-right: 5px !important;
}
.leaderboard .tabs-content{
  margin-left: 0 !important;
  width: 240px !important;
}
.leaderboard h4{
  padding-left: 20px;
}
.text-center h4{
  padding-left: 0px;
}
.leaderboard .tabs dd{
  text-align: center;
}
dl{
  line-height: 0 !important;
}
.nickname {
  padding-left: 5px !important;
}
.avt-friend {
  margin-left: 10px;
}
.btn-friend {
    font-size: 13px !important;
    line-height: 0 !important;
    width: 69px !important;
    margin-top: 8px !important;
}
.add-friend{
  margin-top: 10px !important;
}
.btn-back-leaderboard .show-leaderboard {
    padding-top: 6px !important;
    padding-bottom: 6px !important;
}
#search-friend{
  margin-top: 5px;
}
.search-frid{
     padding-top: 8px !important;
    padding-bottom:8px !important; 
}