footer {
  .memo-button {
    &.skip {
      background-color: #ededed;
      color: $steel;
      &:hover {
        background-color: scale-color(#ededed, $lightness: 20%);
      }
    }
    &.check, &.continue {
      background-color: $success-color;
      &:hover {
        background-color: scale-color($success-color, $lightness: 5%);
      }
      &.disabled {
        background-color: $aluminum;
        &:hover {
          background-color: $aluminum;
          cursor: default;
        }
      }
    }
  }
  .success {
    .memo-button {
      height: 40px;
      &.report, &.discussion {
        background-color: $success-bg-color;
        border: 2px $success-color solid;
        color: $success-font-color;
        padding-top: 0.5rem;
        &:hover {
          background-color: scale-color($success-bg-color, $lightness: 20%);
        }
      }
    }
  }
  .fail {
    .memo-button {
      height: 40px;
      &.report, &.discussion {
        background-color: $warning-bg-color;
        border: 2px $white solid;
        color: $warning-font-color;
        padding-top: 0.5rem;
        &:hover {
          background-color: scale-color($warning-bg-color, $lightness: 66%);
        }
      }
    }
  }
}