.player header {
    .hearts {
	margin-top: -10px;
	font-size: 30px;
	text-align: center;
	display: flex;
	span.heart {
	    display: inline-block;
	    height: 30px;
	    width: 30px;
	    background: url('assets/img/lesson-heart.png') no-repeat;
	    margin: 10px 5px 5px;
	    &.lost {
		background: url('assets/img/lesson-heart-lost.png') no-repeat;
	    }
	}
    }
}