.forget-modal{
	width:400px;
	min-height:215px;
}
.forget-password {
    text-align: center;
}
.send-email {
    background: none repeat scroll 0% 0% #810C15;
	color: #FFF !important;
	padding: 0px !important;
	margin-bottom: 15px !important;
	border-radius: 5px;
	width: 339px;
	margin-right: 10px;

}
.send-email a{
	color: #fff;
	font-size: 16px;
	display: block;
}
.forget-modal {
    background: none repeat scroll 0% 0% #FFF;
    border: medium none;
    padding: 20px;
    text-align: center;
    min-height: 1px;
    position: fixed;
    top: 153px !important;
}
.forget-modal .ant{
    background: url('assets/img/login-ant.png') no-repeat scroll 0% 0% transparent;
    display: block;
    position: absolute;
    width: 126px;
    height: 147px;
    top:-160px;
    left: 50%;
    z-index: 1;
}