.landingpage {
  .header {
    display: block;
    float: left;
    min-width: $row-width;
  }
  .top-bar {
    min-width: $row-width;
    .name {
      line-height: $topbar-height;
    }
  }
  .tooltip {
    width: 200px !important;
  }
}