@import "animate";

.landingpage {
  .statistic {
    background: url("assets/img/landingpage/3-bg.png") repeat;
    height: 186px;
    .container {
      padding-top: 50px;
      height: 186px;
    }
    .icon {
      display: inline-block;
      width: 30px;
      height: 30px;
    }
    .android .icon {
      background: url("assets/img/icon1.png") no-repeat;
      width: 20px;
    }
    .ios .icon {
      background: url("assets/img/icon2.png") no-repeat;
      width: 35px;
    }
    .window .icon {
      background: url("assets/img/icon3.png") no-repeat;
      width: 30px;
    }
    .pc .icon {
      background: url("assets/img/icon4.png") no-repeat;
    }
    .text {
      text-transform: uppercase;
      font-weight: 700;
      color: $white;
    }
    .number {
      text-transform: uppercase;
      font-weight: 900;
      font-size: 30px;
      color: $white;
    }
  }
}