<div class="row">
  <div class="large-16 columns">
    <div class="row">
      <span class="ant"></span>
    </div>
    <div class="container">
      <h3 class="title forget-password">Quên mật khẩu</h3>
      <p class="error">{{error}}</p>
      <form class="ng-pristine ng-valid-email ng-invalid ng-invalid-required">  
        <div class="row">
          <div class="large-16 columns text-center forget password">
            <input class="email text-email" ng-model="user.email" type="email" placeholder="Nhập email của bạn vào" required>
          </div>
          <div class="large-16 columns text-center send-email forget password">
            <a class="large-16 small radius send button" href="#" title="" ng-click="forgetPassword()">Gửi</a>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>