<div class="row" xmlns="http://www.w3.org/1999/html" xmlns="http://www.w3.org/1999/html">
  <div class="large-16 columns">
    <div class="row" ng-hide="hideAnt"><span class="ant"></span></div>
    <div class="container">
      <h4 class="title" style="margin-top: 0px;margin-bottom: 0px">Đăng ký</h4>
      <p class="error"style="margin-bottom: 5px;margin-top: 0px;font-size: 16px" >{{error}}</p>
      <form>
        <div class="row">
          <div class="large-16 columns" style="margin-bottom: 0px;height: 35px;margin-top: 0px;font-size: 14px" >
            <p>Đăng kí với 1 click để tìm và thi đua với bạn bè</p>
          </div>
        </div>
        <div class="row">
          <div class="large-16 columns">
            <a class="large-16 small radius facebook button" ng-click="FbLogin()"style="margin-bottom:10px;margin-top: 0px;height:50px;">
              Facebook
            </a>
          </div>
        </div>
        <div class="row">
          <div class="large-16 columns">
            <a class="large-16 small radius google button" ng-click="GLogin()"style="margin-bottom:5px;height:50px;">
              Google
            </a>
          </div>
        </div>
        <div class="row">
          <div class="day_divider" style="margin-top: 5px;margin-bottom: 10px">
            <hr role="separator" aria-hidden="true"><div class="day_divider_label">hoặc</div>
          </div>
        </div>
        <div class="row fields">
          <div class="small-16 columns">
            <input class="username" ng-model="user.username" type="text" placeholder="Tên đăng nhập" required tooltip="Tên đăng nhập chứa 6 đến 14 ký tự, bao gồm các ký tự a-z, A-Z, 0-9. Không được có ký tự đặc biệt hay dấu cách."   tooltip-trigger="focus" tooltip-placement="right"  >
          </div>
          <div class="small-16 columns">
            <input class="email" ng-model="user.email" type="email" placeholder="Email (VD: example@gmail.com)" required tooltip="Nhập email chính xác sẽ giúp Memo song hành cùng bạn trong suốt quá trình học"  tooltip-trigger="focus" tooltip-placement="right" class="form-control">
          </div>
          <div class="small-16 columns">
            <input class="password" ng-model="user.password" type="password" placeholder="Mật khẩu" required tooltip="Hãy ghi nhớ mật khẩu của bạn, cẩn thận kẻo quên nhé :3"  tooltip-trigger="focus" tooltip-placement="right" class="form-control">
          </div>
          <div class="small-16 columns">
            <input class="mobile" ng-model="user.mobile" style="margin-bottom: 10px" type="tel" placeholder="Điện thoại (không bắt buộc)" tooltip="Nhập số điện thoại chính xác sẽ giúp Memo có thể dễ dàng hỗ trợ bạn hơn"  tooltip-trigger="focus" tooltip-placement="right" class="form-control">
          </div>
          <!-- <div class="small-16 columns">
            <input class="name" ng-model="user.referral_code" type="text" placeholder="Code chia sẻ từ bạn bè (không bắt buộc)" tooltip="Điền code chia sẻ bạn nhận được tại đây"  tooltip-trigger="focus" tooltip-placement="right" class="form-control">
          </div> -->
        </div>
        <div class="row" ng-show="hideAnt">
          <div class="large-16 columns">
            <p><i>(Bạn có thể nhập code từ bạn bè ngay sau khi đăng nhập)</i></p>
          </div>
        </div>
        <div class="row">
          <div class="large-16 columns">
            <a class="large-16 small radius login button" ng-click="register()"style="margin-bottom: 5px;">Tạo tài khoản</a>
          </div>
        </div>
        <div class="row">
          <div class="large-16 columns">
            <span>Bạn đã có tài khoản? <a ng-click="loginModal()">Đăng nhập</a></span>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>