<div class="hexagon row">
  <div class="large-16 columns">
    <div class="row"><span class="ant"></span></div>
    <div class="container row">
      <h3 class="title">Lựa chọn bài học</h3>
      <div class="skills">
        <div class="skill-row skill-block-even">
          <div class="blue unlocked skill skill-1 skill-offset-0">
            <a ng-href="/skill/en-vi_co_ban_1" ng-click="close()">
              <div class="icon" style="background-image: url('http://admin.memo.edu.vn/uploads/base_skill/web/unlocked.png');"></div>
              <div class="name">Cơ bản 1</div>
              <div class="level level-5"></div>
            </a>
          </div>
          <div class="skill-text">
            <p class="question">Bạn muốn học tiếng Anh từ đầu?</p>
            <p class="hook">Hãy bắt đầu từ bài dễ nhất - Cơ bản 1</p>
          </div>
        </div>
      </div>
      <div class="skills">
        <div class="skill-row skill-block-even">
          <div class="green unlocked skill skill-47 skill-offset-0">
            <a ng-href="/placement/test" ng-click="close()">
              <div class="icon" style="background-image: url('http://admin.memo.edu.vn/uploads/base_skill/web/unlocked.png')"></div>
              <div class="name">Kiểm tra đầu vào</div>
              <div class="level level-5"></div>
            </a>
          </div>
          <div class="skill-text">
            <p class="question">Hay bạn muốn làm bài Kiểm tra đầu vào?</p>
            <p class="hook">Chỉ mất 10 phút, bạn sẽ được bắt đầu học đúng với trình độ của mình</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>