<div class="row container">
  <div class="row">
    <div class="large-4 columns large-centered text-center" ng-controller="LoginModalCtrl">
      <a href="" class="large radius register button" ng-click="openRegister()">BẮT ĐẦU NGAY</a>
    </div>
  </div>
  <div class="row">
    <div class="large-8 columns large-centered text-center">
      <h3>MEMO - Ứng dụng học ngoại ngữ duy nhất trên các nền tảng smartphone.</h3>
    </div>
  </div>
  <div class="row">
    <div class="large-11 columns large-centered">
      <ul class="inline-list download">
        <li class="ios">
          <a href="" ng-click="toAppStore2()"></a>
        </li>
        <li class="android">
          <a href="" ng-click="toPlayStore2()"></a>
        </li>
        <li class="window">
          <a href="" ng-click="toWP2()"></a>
        </li>
      </ul>
    </div>
  </div>
</div>
