<div class="row container" ReferralLandingpageCtrl>
  <div class="large-6 large-offset-1 sa">
    <div class="row">
      <h2 class="sa-1">Học nhiều ngôn ngữ</h2>
      <h2 class="sa-2">Miễn phí trọn đời</h2>
    </div>
    <div class="row" ng-controller="LoginModalCtrl">
      <a href="" class="large radius button register" ng-click="openRegister()">BẮT ĐẦU NGAY</a>
    </div>
    <div class="row">
      <ul class="inline-list">
        <li><a ng-href="/downloads?platform=Android&code_chanel=WEB_ANDROID&redirect=https://play.google.com/store/apps/details?id%3Dvn.topica.memo" class="android"></a></li>
        <li><a ng-href="/downloads?platform=iOS&code_chanel=WEB_IOS&redirect=https://itunes.apple.com/us/app/topica-memo-hoc-ngoai-ngu/id932238745?ls%3D1&mt%3D8" class="ios"></a></li>
        <li><span ng-href="" class="window"></span></li>
      </ul>
    </div>
  </div>
  <div class="large-8 large-offset-1 slider-landingpage">
            <article id="slider">
    <!-- Slider Setup -->
    <input checked="" type="radio" name="slider" id="slide1">
    <input type="radio" name="slider" id="slide2" selected="true">
    <input type="radio" name="slider" id="slide3" selected="true">
    <input type="radio" name="slider" id="slide4" selected="true">
    <input type="radio" name="slider" id="slide5">
    <!-- The Slider -->
    <div id="slides">
      <div id="overflow">
        <div class="inner">
          <article>
          <a click-event-track tracking-data='{"campaign":"REFERRAL","code_channel":"ADS_NON_E8","screen":"1"}' ng-href="/referral" class="large-12 small"><img style="margin-top:40px;" src="assets/img/landingpage/Ants-campaign.png"></a> 
          </article>
          <article ng-controller="LoginModalCtrl">
          <a href="" class="" ng-click="openRegister()"><img src="assets/img/landingpage/Ants.png"></a>
          </article>
        </div> <!-- .inner -->
      </div> <!-- #overflow -->
    </div> <!-- #slides -->
    <!-- Controls and Active Slide Display -->
    <div id="controls">
      <label for="slide1"></label>
      <label for="slide2"></label>
    </div> <!-- #controls -->
    <div id="active">
      <label for="slide1"></label>
      <label for="slide2"></label>
    </div> <!-- #active -->
  </article>
    </div>
</div>
