<top-bar>
  <ul class="large-4 columns title-area">
    <!-- Title Area -->
    <li class="name">
      <a href="/"><img src="assets/img/landingpage/logo-beta-landing.png"></a>
    </li>
  </ul>
  <top-bar-section>
  <!-- Right Nav Section -->
  <ul class="right">
    <li style="color: #999999;margin-top: 20px;margin-right: 0px" ng-show="showLoginCTA()">
      <span>Hãy đăng nhập để điền code chia sẻ</span>
    </li>
    <li class="has-form" ng-controller="LoginModalCtrl">
      <a href="" class="reverse login button" ng-click="open()">Đăng nhập</a>
    </li>
  </ul>
  </top-bar-section>
</top-bar>