<div class="row container">
  <h3>Học thỏa thích trên <span class="pressed">MỌI THIẾT BỊ</span></h3>
  <div class="tablet"></div>
  <div class="laptop"></div>
  <div class="phone"></div>
  <div class="row">
    <div class="large-6 columns large-offset-9 sa">
      <div class="row">
        <h4 class="title">Cách tốt nhất để học ngoại ngữ</h4>
        <p>Học mọi lúc mọi nơi, không chỉ trên máy tính. Với Memo, bạn có thể luyện tập ngay trên smartphone và tablet.</p>
      </div>
      <div class="row text-center" ng-controller="LoginModalCtrl">
        <a href="" class="medium radius button register" ng-click="openRegister()">BẮT ĐẦU NGAY</a>
      </div>
      <ul class="inline-list download">
        <li class="ios">
          <a ng-href="" ng-click="toAppStore1()"></a>
        </li>
        <li class="android">
          <a ng-href="" ng-click="toPlayStore1()"></a>
        </li>
        <li class="window"></li>
      </ul>
    </div>
  </div>
</div>