<div class="row container">
  <div class="sb-1 appear">
    <div class="image-1"></div>
    <div class="image-2"></div>
    <div class="text">
      <h3 class="title">Mỗi bài học là một trò chơi</h3>
      <p class="desc">Vừa học vừa chơi sẽ giúp bạn học được nhiều ngôn ngữ mới. Thử thách thú vị mỗi ngày, tham gia ngay</p>
      <a class="link" href=""> << Học ngay</a>
    </div>
  </div>
  <div class="sb-2 appear">
    <div class="text">
      <h3 class="title">Giỏi ngoại ngữ với 5 phút tự học mỗi ngày</h3>
      <p class="desc">Nỗ lực nhỏ mỗi ngày sẽ mang lại thành công lớn cho bạn. Tranh thủ từng phút và tiến bộ ngay cùng Memo.</p>
      <a class="link" href="">Học ngay >> </a>
    </div>
    <div class="image-1"></div>
    <div class="image-2"></div>
  </div>
</div>
