<div class="row main home-page">
  <div class="main-left left-profile">
    <div class="container container-page-profile">
      <div class="row user-info-profile">
        <p>
          <img ng-src="{{profileDetail.url_avatar || 'assets/img/profile-avatar-big.png'}}" alt=""/> <br>
          <strong ng-bind="profileDetail.username"></strong>
        </p>
        <div class="row add-user-name">
          <p><img src="assets/img/005.png" alt="">{{profileDetail.combo_days || 0}} ngày Combo</p>
        </div>
        <div class="row choose-language-profile">
          <div class="large-16 columns">
            <div class="row top-language-profile" ng-repeat="row in ownedCourses">
              <div class="language-profile" ng-repeat="course in row" ng-if="course">
                <img ng-src="assets/img/{{course._id}}.png" alt="">
                <span title="" style="color:#810c15;font-weight: 700;">{{course.course_name}}</span> <br>
                <span>Level {{course.level}}</span>
              </div>
            </div>  
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="main-right leaderboard-profile">
    <div class="container box-list-top">
      <div class="row leaderboard" leaderboard></div>
    </div>
  </div>    
</div>