<div class="question-inner">
  <div class="small-8 small-centered columns form">
    <div class="row">
      <h4 class="name">Chọn từ còn thiếu</h4>
    </div>
    <div class="row">
      <div class="small-16 small-centered columns text-center">
	<span ng-repeat="word in tokens track by $index">
	  <label ng-if="$index === position">
	    <i class="icon-arrow-down"></i>
	    <select ng-model="answer.selected" ng-options="option for option in options"></select></label>
	  {{word}}
	</span>
      </div>
    </div>
  </div>
</div>
