<div class="small-12 small-centered columns speak" answer="exam.currentQuestion.userAnswer">
  <div class="row">
    <h4 class="name">Nhấp vào micro và dịch sang Tiếng Anh</h4>
  </div>
  <div class="row">
    <div class="small-16 smal-centered columns content text-center">
      {{question.question}}
    </div>
  </div>
  <div class="row">
    <div class="small-16 columns answer">
      <div class="micro" ng-click="startButton()">
        <span class="icon-microphone"></span>
      </div>
    </div>
  </div>
</div>
