<div class="large-16 columns native-page2">
  <div class="native-conversation">
    <div class="video-native">
      <iframe width="330" height="172" src="//www.youtube.com/embed/MGvtMjFHuF8" frameborder="0" allowfullscreen></iframe>
    </div>
  </div>
  <div class="topmito-english">
    <p>TẠI SAO NÊN HỌC TIẾNG ANH VỚI TOPICA NATIVE ?</p>
    <hr>
  </div>
  <div class="intro-topica-native">
    <div class="left-intro-topica-native">
      <img src="assets/img/referral/l2.png" alt="">
      <div class="teacher-us">
        <span>100+ GIÁO VIÊN ÂU ÚC MỸ</span>
        <p>Trải nghiệm nhiều âm giọng tiếng Anh khác nhau Luyện nói trong môi trường bản ngữ hàng ngày</p>
      </div>
      <div class="teacher-pic-left">
        <img src="assets/img/referral/l3.png" alt="">
      </div>
    </div>
    <div class="right-intro-topica-native">
      <span>TOPICA NATIVE MỞ LỚP TỪ 8H SÁNG ĐẾN 12H ĐÊM</span>
      <p>Chủ động lựa chọn địa điểm, thời gian học không sợ lỡ học vì bận rộn, học trực tuyến mọi lúc mọi nơi</p>
      <div class="teacher-pic-right">
        <img src="assets/img/referral/l1.png" alt="">
      </div>
      <div class="title-infor">
        <span>GIÁO VIÊN HƯỚNG DẪN RIÊNG 24/7 THEO LỘ <br> TRÌNH RIÊNG</span>
        <p>Mỗi học viên có một lộ trình riêng theo trình độ <br> Giáo viên hướng dẫn sửa lỗi sai sau mỗi giờ học và nhắc nhở lịch học</p>
      </div>
    </div>
  </div>
  <div class="clear"></div>
  <div class="topmito-english topica-edu">
    <P>TẠI TOPICA NATIVE, 77% HỌC VIÊN TĂNG 300/1000 ĐIỂM NÓI CHỈ SAU 01 KHOÁ HỌC!</P>
    <hr>
  </div>
  <div class="box-tab-infor">
    <div class="box1 mark">
      <img src="assets/img/referral/l4.png" alt="">
      <p>TĂNG <strong>347</strong> ĐIỂM NÓI SAU<strong> 03</strong> THÁNG</p>
      <p class="text-mark">Tự tin nói chuyện với đối tác nước ngoài</p>
    </div>
    <div class="box1 e-learning">
      <img src="assets/img/referral/l5.png" alt="">
      <p>E-LEARNING THEO XU HƯỚNG HARVARD</p>
    </div>
    <div class="box1 cases">
      <img src="assets/img/referral/l6.png" alt="">
      <p>ĐÁNH GIÁ BẰNG CHỨNG CHỈ <br> QUỐC TẾ CASEC</p>
    </div>
    <div class="clear"></div>
  </div>
  <div class="topmito-english topica-edu-asian">
    <p>TOPICA - TIÊN PHONG XUẤT KHẨU CÔNG NGHỆ E-LEARNING</p>
    <hr>
  </div>
  <div class="intro-topica-edu">
    <div class="left-intro-topica-edu">
      <img src="assets/img/referral/l7.png" alt="" style="margin-top: -30px">
    </div>
    <div class="right-intro-topica-edu">
      <span>Tổ hợp công nghệ - Giáo dục TOPICA</span>
      <p>Được thành lập từ năm 2007, hiện đã thu hút hàng nghìn học viên <br> cử nhân và hàng chục Tổng giám đốc ICT lớn nhất Việt Nam tham <br> gia Học viện khởi nghiệp. <br>
      TOPICA Memo là sản phẩm mới nhất của tổ hợp giáo dục TOPICA, hoạt động tiên phong trong việc ứng dụng công nghệ E-learning hiện đại nhất Việt Nam</p>
    </div>
    <div class="clear"></div>
  </div>
  <div class="footer-logo-ads">
    <a href="" title="">THAM GIA PHÁT TRIỂN VÀ TÀI TRỢ</a>
    <img src="assets/img/referral/l8.png" alt="">
  </div>
</div>