<div class="large-12 columns price-scholarship">
  <div class="row headline">
    <h3 class="headline-text">BẢNG GIÁ VÀ HỌC BỔNG</h3>
    <hr>
  </div>
  <div class="row">
    <div class="large-16 columns content">
      <p><span>Bạn có cơ hội nhận các mức học bổng như sau:</span><br>
      - Học liên tiếp 3 ngày, mời được 3 bạn: 500,000 VNĐ <br>
      - Học liên tiếp 3 ngày, mời được 6 bạn: 750,000 VNĐ <br>
      - Học liên tiếp 3 ngày, mời được 9 bạn: 850,000 VNĐ <br>
      - Học liên tiếp 3 ngày, mời được 12 bạn: 900,000 VNĐ <br>
      </p>
      <div>
       Học bổng đầu xuân sẽ được áp dụng cho các gói học phí Topica Native như sau: <br><br/>
        <img src="assets/img/referral/banggia.png" alt=""> <br> </br>
        Các thắc mắc về khóa học của <span class="choose-learning">Topica Native</span>, xin vui lòng liên hệ <span class="choose-learning">0972 865 329</span> hoặc email <span class="choose-learning">memo@memo.edu.vn</span>
        </p>
      </div>
    </div>
  </div>
</div>