<!DOCTYPE html>
<html>
<head lang="en">
  <meta charset="UTF-8">
  <title></title>
</head>
<body>
  <!--<div class="title-question">-->
    <!--<h2 class="title-question">Hướng dẫn tham dự chương trình</h2>-->
    <!--<hr>-->
  <!--</div>-->
  <!--<div class="text-popup">-->
    <!--<div class="slider-entercode">-->
      <!--<div class="all-slider">-->
        <!--<div class="arrow-of-slider">-->
          <!--<div class="arrow-pre-slider"><a ng-click="slide.prev()"><img src="assets/img/referral/arrow_pre.png"></a></div>-->
          <!--<div class="slide">-->
            <!--<div class="slide-img"><img src="{{image}}" alt=""/></div>-->
            <!--<div class="text"><p src="{{text}}"></p></div>-->
          <!--</div>-->
          <!--<div class="arrow-next-slider"><a ng-click="slide.next()"><img src="assets/img/referral/arrow_next.png"></a></div>-->
        <!--</div>-->
        <!--<div class="button-of-slider">-->
          <!--<div ng-repeat="item in images track by $index" class="button-slider-entercode" ng-class="{active:indexActive == $index}" ng-click="slide.goTo($index)"><strong>{{$index + 1}}</strong></div>-->
        <!--</div>-->
      <!--</div>-->
    <!--</div>-->

  <div class="titile-question">
    <h2>Thể lệ Học bổng đón xuân</h2>
    <hr>
  </div>
  <div class="text-popup">
    <b class="text-memo">TOPICA Memo</b> hiện nay là một phần mềm học tiếng Anh được rất nhiều bạn trẻ yêu thích vì
    các tính năng giúp người dùng học Tiếng Anh hiệu quả hơn và giao diện đẹp mắt dễ dùng. Các bạn trẻ đến với <b class="text-memo">TOPICA Memo</b> được tiếp cận với một kho từ vựng và mẫu câu thông dụng cho giao tiếp vô cùng lớn và được cập nhật thường xuyên. Không những thế, hàng ngày thầy Kiến còn nhắc nhở các bạn học chăm chỉ để việc học ngoại ngữ được hiệu quả nhất.
    Để tạo động lực tốt hơn nữa, <b class="text-memo">TOPICA Memo</b> tổ chức chương trình tặng học bổng khóa học TOPICA Native cho tất cả những bạn học chăm chỉ của <b class="text-memo">TOPICA Memo</b>. Đây là một khóa học luyện giao tiếp trực tuyến với giảng viên Âu Mỹ, củng cố khả năng giao tiếp cũng như sự tự tin cho các bạn trẻ.
    Vậy còn chần chừ gì nữa mà không tham gia ngay?
    <br>
    <br>
    1. Thể lệ chương trình:
    <br>Để đạt được học bổng bạn phải đạt được 2 điều kiện sau:
    <li>Bạn phải mời ít nhất 3 người cùng học <b class="text-memo">TOPICA Memo</b> bằng cách sau:</li>
    <ul># Bạn có thể nhập code chia sẻ từ 1 người học khác, bạn sẽ được tính là đã mời được 1 người cùng học. Tuy nhiên bạn chỉ có thể nhập code 1 lần duy nhất.
    <br># Bạn có thể gửi code chia sẻ của mình cho những người khác, với mỗi người dùng nhập code của bạn, bạn sẽ được tính là đã mời được 1 người cùng học.
    <li>Bạn phải đạt được combo ít nhất 3 ngày bằng cách học liên tiếp trong ít nhất 3 ngày (làm đúng ít nhất một bài mỗi ngày).</li></ul>
    Code chia sẻ sẽ tự động sinh ra khi bạn tham dự chương trình. Mỗi tài khoản sẽ có một code chia sẻ duy nhất
    Sau khi đã đáp ứng đủ 2 điều kiện trên, bạn click vào ô xác minh để nhận code xác minh học bổng.
    <br>
    <br>
    2. Giá trị học bổng
    <br>Các mức học bổng bạn sẽ nhận được học bổng tương ứng như sau:
      <li> Mời được 3 bạn: nhận ngay học bổng 500.000 đồng từ Topica Native</li>
      <li> Mời được 6 bạn: nhận ngay học bổng 750.000 đồng từ Topica Native</li>
      <li> Mời được 9 bạn: nhận ngay học bổng 850.000 đồng từ Topica Native</li>
      <li> Mời được 12 bạn: nhận ngay học bổng 900.000 đồng từ Topica Native</li>
    <br>
    Các Học bổng sẽ có giá trị cho các gói học phí của Topica Native đến hết năm 2015
    <br>
    <br>
    3. Thời gian diễn ra
    Event sẽ kéo dài từ 1/1/2015 đến hết ngày 20/1/2015.
    <br>
    <br>
    Mọi thông tin chi tiết xin vui lòng liên hệ hotline: <b class="text-memo">0972 865 329</b> hoặc email: <b class="text-memo">memo@memo.edu.vn</b>
  </div>

  </div>
</body>
</html>
