<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
<div class="titile-question">
<h2>Khiếu nại, liên hệ</h2>
<hr>
</div>
<div class="text-popup">
Mọi thắc mắc, khiếu nại liên quan tới sản phẩm hay giải thưởng, xin vui lòng liên hệ:
<br>
Hotline: <span>0972 865 329</span>
<br>
Email: <span>memo@memo.edu.vn</span>
<br>
<br>
Trong trường hợp phát sinh tranh chấp, khiếu nại liên quan đến chương trình, BTC sẽ trực tiếp giải quyết và quyết định của BTC là kết quả cuối cùng.
</div>
</body>
</html>