<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
<div class="titile-question">
<h2>Giá trị quy đổi học bổng</h2>
<hr>
</div>
<div class="text-popup">
Học bổng sẽ được tính trực tiếp ngay khi bạn thực hiên việc đóng học phí cho Topica Native. Giá trị thấp nhất của học bổng là <span>500,000 VNĐ</span> và Giá trị cao nhất của học bổng là <span>900,000 VNĐ.</span>
<br>
<br>
Bạn sẽ có cơ hội nhận Học bổng từ ngày <span>1/1 - 20/1/2015.</span> Bạn có quyền sử dụng học bổng để đăng ký tham gia luyện nói cùng các khóa học của <span>Topica Native</span> trong năm 2015.
<br>
<br>
Các ưu đãi của học bổng không được áp dụng cùng lúc, hoặc kết hợp với bất kì chương trình khuyến mãi nào khác của <span>Topica Native</span>
Học bổng không có giá trị quy đổi ra tiền mặt 
</div>
</body>
</html>