<!DOCTYPE html>
<html>
<head lang="en">
  <meta charset="UTF-8">
  <title></title>
</head>
<body>
  <div class="titile-question">
    <h2>Hướng dẫn cách sử dụng học bổng</h2>
    <hr>
  </div>
  <div class="text-popup">
    Ngay sau khi hoàn thiện xong các bước Xác minh, bạn có thể thực hiện các bước nhận học bổng theo hai hình thức sau:
    <br>
    <br>
    I. Học viên có thể nhận học bổng và nộp học phí trực tiếp tại văn phòng Hà Nội/ Hồ Chí Minh:
    <br>
    + Vp Hà Nội:  Tòa nhà A17, Số 17 Tạ Quang Bửu, Hai Bà Trưng, Hà Nội.
    <br>
    + Vp TP HCM: Số 58/10 Thành Thái, Quận 10, TP. Hồ Chí Minh.
    <br>
    <br>
    II. Học viên có thể chuyển khoản vào tài khoản của chương trình:
    <br>
    CHỦ TÀI KHOẢN: <span>CÔNG TY CỔ PHẦN GIÁO DỤC TOPICA ENGLISH</span>
    <br>
    1. Số tài khoản: <span>0011 0041 64283</span>
    <br>
    Ngân hàng: Ngoại thương Việt nam (Vietcombank) - chi nhánh Sở Giao Dịch Vietcombank.
    <br>
    2. Số tài khoản: <span>1221 0000 6875 53</span>
    <br>
    Ngân hàng: Đầu tư và phát triển Việt Nam (BIDV) - Chi nhánh Hà Thành
    <br>
    3. Số tài khoản: <span>6109 3206</span>
    <br>
    Ngân hàng: Việt Nam Thịnh Vượng (VPBank) - Chi nhánh Sở giao dịch.
    <br>
    4. Số tài khoản:  <span>1912 8170 6360 12</span>
    <br>
    Ngân hàng: Kỹ thương Việt Nam (Techcombank) - Chi nhánh Thăng Long.
    <br>
    5. Số tài khoản:  <span>1020 1000 2069 694</span>
    <br>
    Ngân hàng: Công thương Việt Nam (Vietinbank) - Chi nhánh Hoàng Mai.
    <br>
    6. Số tài khoản: <span>1500 2010 89256</span>
    <br>
    Ngân hàng: Nông nghiệp và phát triển nông thôn Việt nam (Agribank) - chi nhánh Hà Nội.
    <br>
    <br>
    Thông tin chuyển khoản: Ghi đầy đủ "Memo Họvàtên SDT CMT"
    <br>
    Ví dụ: Memo LeDucBinh 0123456789 1212222
    <br>
    <br>
    Mọi thắc mắc hoặc khó khăn trong khi giao dịch, xin vui lòng liên hệ <span>0972 865 329</span>
    <br>
    Chúc bạn sẽ luôn có những thời gian học bổ ích và hiệu quả cùng <span>Topica Memo</span> và <span>Native!</span>
  </div>
</body>
</html>