<div class="page-step-one">
  <div class="row">
    <img class="image-step-one-top" src="assets/img/referral/mm0050.png" alt="">
  </div>
<div class="row communication">
  <p>CAM KẾT TỰ TIN GIAO TIẾP TIẾNG ANH TRONG 3 THÁNG</p>
  <hr>
</div>
<div class="row native-topica">
  <div class="small-5 columns left-na-img">
    <img src="assets/img/referral/SA1.png" alt="">
    <span>TOPICA NATIVE MỞ LỚP <br> TỪ 8H SÁNG ĐẾN 12H ĐÊM</span>
    <p>Học thoả thích lên tới 16 ca mỗi ngày <br>
  Học trực tuyến bất kỳ đâu, chỉ cần <br> máy tính có nối mạng</p> 
  </div>
  <div class="small-6 columns center-na-img">
    <img src="assets/img/referral/SA2.png" alt="">
    <span>NATIVE CÓ <br> 100 GIÁO VIÊN ÂU MỸ ÚC</span>
    <p>Trải nghiệm âm giọng tiếng Anh <br> khác nhau
    Luyện nói online với giáo viên xịn</p>    
  </div>
  <div class="small-5 columns right-na-img">
    <img src="assets/img/referral/SA3.png" alt="">
    <span>TOPICA NATIVE TƯ VẤN <br> LỘ TRÌNH HỌC TẬP CHO BẠN</span>
    <p>Mỗi người có một lộ trình học tập riêng <br>
    chính xác theo trình độ và nhu cầu của <br>
    mình. Giáo viên hướng dẫn 24/7!</p>
  </div>
</div>
<div class="row communication" style="margin-top: 5px">
  <p>TOPICA - TIÊN PHONG XUẤT KHẨU CÔNG NGHỆ E-LEARNING</p>
  <hr>
</div>
<div class="row topica-ads">
  <div class="large-7 columns logo-topica">
    <img src="assets/img/referral/topica_2.png" alt="">
  </div>
  <div class="large-9 columns topica-edu" style="margin-top: 0px;">
    <span>Tổ hợp công nghệ - Giáo dục TOPICA</span>
    <p>Được thành lập từ năm 2007, hiện đã thu hút hàng nghìn học viên <br> cử nhân và hàng chục Tổng giám đốc ICT lớn nhất Việt Nam tham <br> gia Học viện khởi nghiệp. <br>
    TOPICA Memo là sản phẩm mới nhất của tổ hợp giáo dục TOPICA, hoạt <br> động tiên phong trong việc ứng dụng công nghệ E-learning hiện <br> đại nhất Việt Nam</p>
  </div>
</div>
<div class="row logo-funding">
  <div class="large-5 columns join-dev">
    <div style="color: #000;font-size: 13px;font-weight: 600;height: 75px;line-height: 75px;background: #e7e3e2;display: inline-block;padding-left: 20px;padding-right: 20px;border-radius: 5px;">THAM GIA PHÁT TRIỂN VÀ TÀI TRỢ</div>
  </div>
  <div class="large-11 columns logo-ads">
    <img src="assets/img/referral/logo.png" alt="">
  </div>
</div>
</div>
