<div class="row" style="margin-top: 30px;margin-bottom: 40px">
    <div class="text" style="font-size: 24px;color: #000000;text-align: center">
        <b>Chỉ cần 5 bước vô cùng đơn giản để nhận được Học bổng đón xuân cùng Topica Memo</b>
    </div>
</div>
<div class="row-screen-3">
    <div class="image-screen-3-step-1">
        <div class="text-screen-3-button"><b>Bước 1</b></div>
    </div>
    <div class="image-screen-3-step-1">
        <div class="text-screen-3-button"><b>Bước 2</b></div>
    </div>
    <div class="image-screen-3-step-1">
        <div class="text-screen-3-button"><b>Bước 3</b></div>
    </div>
    <div class="image-screen-3-step-1">
        <div class="text-screen-3-button"><b>Bước 4</b></div>
    </div>
    <div class="image-screen-3-step-2">
        <div class="text-screen-3-button"><b>Bước 5</b></div>
    </div>
</div>
<div class="row">
    <div class="large-3 columns" style="padding-top: 20px;padding-left: 20px;font-size: 18px">
        Chọn <b class="text-memo">Bắt đầu tham dự </b>(hoặc <b class="text-memo">Tham gia</b> <b class="text-memo">học bổng đón xuân</b>)
    </div>
    <div class="large-3 columns" style="padding-top: 20px;padding-left: 4px;font-size: 18px">
        Đăng nhập tài khoản <b class="text-memo">Topica Memo</b> của bạn và nhận <b class="text-memo">"Code chia sẻ"</b>
    </div>
    <div class="large-3 columns" style="padding-top: 20px;padding-left: 35px;font-size: 18px">
        Giới thiệu cho ít nhất <b class="text-memo">3 </b>người bạn của mình
    </div>
    <div class="large-3 columns" style="padding-top: 20px;padding-left: 35px;font-size: 18px">
        Học trong <b class="text-memo">3</b> ngày </b>liên tiếp với <b class="text-memo">Topica </b><b class="text-memo">Memo</b>
    </div>
    <div class="large-4 columns" style="padding-top: 20px;padding-left: 40px;font-size: 18px">
        Nhận học bổng
        <br>
        <b class="text-memo">Topica Native</b> trị giá
        <br>
        lên tới <b class="text-memo">900,000 VNĐ</b>
    </div>
</div>
<div class="row" style="margin-right: 100px;margin-bottom: 30px;margin-top: 30px">
    <div class="text-screen-3-center" style="margin-right: 40px">
        Nếu có thắc mắc, xin vui lòng liên hệ
    </div>
    <div class="text-screen-3-center">
        Hotline: <b><span class="text-bold-screen-3-center" style="margin-right: 40px; color: #810c15;">0972 865 329</span></b>
    </div>
    <div class="text-screen-3-center">
        Email: <b><span class="text-bold-screen-3-center" style="margin-right: 40px;color: #810c15">memo@memo.edu.vn</span></b>
    </div>
</div>
</div>