<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title></title>
	<link rel="stylesheet" href="style.css">
</head>
<body>
   <div class="slider">
			<input type="radio" id="control-1" name="controls" checked="checked"/>
	        <label for="control-1"></label>
	        <input type="radio" id="control-2" name="controls"/>
	        <label for="control-2"></label>
	        <input type="radio" id="control-3" name="controls"/>
	        <label for="control-3"></label>
   			
        <div class="slider-inner">
            <ul>
                <li>
					<div class="slider-1">
						1
					</div>
                </li>
                <li>
					<div class="slider-2">
						2
                    </div>               
                </li>
                <li>
					<div class="slider-3">
						3
					</div>
                </li>
            </ul>
        </div>
        <div class="footer-slide">
            <a href="#" class="showagain">Xem lại bài học</a>
            <a href="#" class="a_next">Tiếp tục</a>
        </div>
    </div><!--slider-->
</body>
</html>    
